.master-header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.master-header > * {
    display: flex;
    align-items: center;
}

.left-header > *, .right-header > * {
    margin: 0 15px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: -10px;
}

.sidebar-icon {
    width: 50px;
}

.search-bar {
    width: 450px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px 0 0 50px;
}

.search-icon {
    width: 60px;
    height: 40px;
    padding: 1px 6px;
    margin-right: 20px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}